In [2]:
import mysql.connector
import os
import requests as r
import json
from pandas import DataFrame
from datetime import date
import numpy as np

import holidays

def lookup():
    val_list = []
    validator = open("validation.txt", "r")
    for line in validator:
        val_list.append(line.rstrip())

    mydb = mysql.connector.connect(
      host=val_list[0],
      user=val_list[1],
      passwd=val_list[2],
      database=val_list[3],
      port=val_list[4]
    )

    mycursor = mydb.cursor()
    result_list = []

    sql = """SELECT CONCAT(str_to_date(leavetimes.`dayofservice`,'%Y-%m-%d')," ",SEC_TO_TIME(leavetimes.`actualtime_arr`)) as date,leavetimes.tripid,leavetimes.progrnumber,leavetimes.stoppointid,leavetimes.actualtime_arr, weather.precipIntensity,weather.temperature,trips.lineid, stops.lat, stops.lng FROM leavetimes, weather, trips, stops WHERE weather.time = DATE_FORMAT((CONCAT(str_to_date(leavetimes.`dayofservice`,'%Y-%m-%d')," ",SEC_TO_TIME(leavetimes.`actualtime_arr`))), "%Y-%m-%d %H:00:00") and trips.tripid = leavetimes.tripid and trips.dayofservice = leavetimes.dayofservice and leavetimes.stoppointid = stops.stop_id ORDER BY leavetimes.dayofservice,leavetimes.tripid,leavetimes.progrnumber LIMIT 0,20"""
    mycursor.execute(sql)

    for (i) in mycursor:
        result_list.extend([i])
    frame = DataFrame.from_records(result_list)
    frame.columns = ["Date-Time","Trip_ID","Prog_No","Stop_ID","Time","Precip","Heat","lineid","lat","lng"]
    return frame

DFRAME = lookup()
DFRAME

,Date-Time,Trip_ID,Prog_No,Stop_ID,Time,Precip,Heat,lineid,lat,lng
0,2018-01-01 08:20:29,5955277,1,7347,30029,0.0,5.84,16,53.4280188900,-6.2420269440
1,2018-01-01 08:22:08,5955277,2,3669,30128,0.0,5.84,16,53.4284655600,-6.2350797220
2,2018-01-01 08:23:02,5955277,3,7349,30182,0.0,5.84,16,53.4253238900,-6.2347730560
3,2018-01-01 08:24:15,5955277,4,1631,30255,0.0,5.84,16,53.4216761100,-6.2314400000
4,2018-01-01 08:24:21,5955277,5,1632,30261,0.0,5.84,16,53.4205011100,-6.2331088890
5,2018-01-01 08:24:34,5955277,6,5053,30274,0.0,5.84,16,53.4191288900,-6.2354588890
6,2018-01-01 08:24:47,5955277,7,1633,30287,0.0,5.84,16,53.4177811100,-6.2377238890
7,2018-01-01 08:25:25,5955277,8,1634,30325,0.0,5.84,16,53.4135180600,-6.2388869440
8,2018-01-01 08:25:32,5955277,9,1635,30332,0.0,5.84,16,53.4116969400,-6.2388588890
9,2018-01-01 08:26:55,5955277,10,1636,30415,0.0,5.84,16,53.4082438900,-6.2375869440
10,2018-01-01 08:27:37,5955277,11,1637,30457,0.0,5.84,16,53.4040319400,-6.2401769440
11,2018-01-01 08:28:14,5955277,12,1638,30494,0.0,5.84,16,53.4017461100,-6.2421261110
12,2018-01-01 08:29:03,5955277,13,1639,30543,0.0,5.84,16,53.3965069400,-6.2451788890
13,2018-01-01 08:29:49,5955277,14,1640,30589,0.0,5.84,16,53.3923438900,-6.2459750000
14,2018-01-01 08:30:15,5955277,15,231,30615,0.0,5.84,16,53.3892400000,-6.2459497220
15,2018-01-01 08:31:54,5955277,16,232,30714,0.0,5.84,16,53.3879844400,-6.2369805560
16,2018-01-01 08:32:23,5955277,17,233,30743,0.0,5.84,16,53.3858213900,-6.2335369440
17,2018-01-01 08:33:14,5955277,18,234,30794,0.0,5.84,16,53.3849461100,-6.2348038890
18,2018-01-01 08:33:54,5955277,19,235,30834,0.0,5.84,16,53.3832930600,-6.2372369440
19,2018-01-01 08:34:03,5955277,20,236,30843,0.0,5.84,16,53.3820280600,-6.2381469440