In [32]:
import mysql.connector
import os
import requests as r
import json
from pandas import DataFrame
from datetime import date
import numpy as np

import holidays

def lookup():
    val_list = []
    validator = open("validation.txt", "r")
    for line in validator:
        val_list.append(line.rstrip())

    mydb = mysql.connector.connect(
      host=val_list[0],
      user=val_list[1],
      passwd=val_list[2],
      database=val_list[3],
      port=val_list[4]
    )

    mycursor = mydb.cursor()
    result_list = []

    sql = """SELECT CONCAT(str_to_date(`dayofservice`,'%Y-%m-%d')," ",SEC_TO_TIME(`actualtime_arr`)),leavetimes.tripid,leavetimes.progrnumber,leavetimes.stoppointid,leavetimes.actualtime_arr, weather.summary FROM leavetimes, weather WHERE weather.time = DATE_FORMAT((CONCAT(str_to_date(leavetimes.`dayofservice`,'%Y-%m-%d')," ",SEC_TO_TIME(leavetimes.`actualtime_arr`))), "%Y-%m-%d %H:00:00") ORDER BY dayofservice,tripid,progrnumber LIMIT 0, 2000;"""
    mycursor.execute(sql)

    for (i) in mycursor:
        result_list.extend([i])
    frame = DataFrame.from_records(result_list)
    frame.columns = ["Date","Trip_ID","Prog_No","Stop_ID","Time","Weather"]
    return frame

DFRAME = lookup()
DFRAME

                     Date  Trip_ID  Prog_No  Stop_ID   Time        Weather
0     2018-01-01 08:20:29  5955277        1     7347  30029       Overcast
1     2018-01-01 08:22:08  5955277        2     3669  30128       Overcast
2     2018-01-01 08:23:02  5955277        3     7349  30182       Overcast
3     2018-01-01 08:24:15  5955277        4     1631  30255       Overcast
4     2018-01-01 08:24:21  5955277        5     1632  30261       Overcast
5     2018-01-01 08:24:34  5955277        6     5053  30274       Overcast
6     2018-01-01 08:24:47  5955277        7     1633  30287       Overcast
7     2018-01-01 08:25:25  5955277        8     1634  30325       Overcast
8     2018-01-01 08:25:32  5955277        9     1635  30332       Overcast
9     2018-01-01 08:26:55  5955277       10     1636  30415       Overcast
10    2018-01-01 08:27:37  5955277       11     1637  30457       Overcast
11    2018-01-01 08:28:14  5955277       12     1638  30494       Overcast
12    2018-01-01 08:29:03  5955277       13     1639  30543       Overcast
13    2018-01-01 08:29:49  5955277       14     1640  30589       Overcast
14    2018-01-01 08:30:15  5955277       15      231  30615       Overcast
15    2018-01-01 08:31:54  5955277       16      232  30714       Overcast
16    2018-01-01 08:32:23  5955277       17      233  30743       Overcast
17    2018-01-01 08:33:14  5955277       18      234  30794       Overcast
18    2018-01-01 08:33:54  5955277       19      235  30834       Overcast
19    2018-01-01 08:34:03  5955277       20      236  30843       Overcast
20    2018-01-01 08:35:48  5955277       21      237  30948       Overcast
21    2018-01-01 08:36:06  5955277       22      213  30966       Overcast
22    2018-01-01 08:36:49  5955277       23      214  31009       Overcast
23    2018-01-01 08:37:20  5955277       24     4432  31040       Overcast
24    2018-01-01 08:38:04  5955277       25      119  31084       Overcast
25    2018-01-01 08:38:22  5955277       26       44  31102       Overcast
26    2018-01-01 08:38:38  5955277       27     7603  31118       Overcast
27    2018-01-01 08:39:12  5955277       28       45  31152       Overcast
28    2018-01-01 08:40:07  5955277       29       46  31207       Overcast
29    2018-01-01 08:41:21  5955277       30       47  31281       Overcast
...                   ...      ...      ...      ...    ...            ...
1970  2018-01-01 11:33:10  5955379       35     7589  41590  Partly Cloudy
1971  2018-01-01 11:34:29  5955379       36     7578  41669  Partly Cloudy
1972  2018-01-01 11:36:15  5955379       37     7582  41775  Partly Cloudy
1973  2018-01-01 11:40:33  5955379       38      299  42033  Partly Cloudy
1974  2018-01-01 11:42:36  5955379       39     7490  42156  Partly Cloudy
1975  2018-01-01 11:42:49  5955379       40      497  42169  Partly Cloudy
1976  2018-01-01 11:44:04  5955379       41      515  42244  Partly Cloudy
1977  2018-01-01 11:44:28  5955379       42      516  42268  Partly Cloudy
1978  2018-01-01 11:44:53  5955379       43     4384  42293  Partly Cloudy
1979  2018-01-01 11:45:54  5955379       44      519  42354  Partly Cloudy
1980  2018-01-01 11:46:46  5955379       45      521  42406  Partly Cloudy
1981  2018-01-01 11:47:10  5955379       46      522  42430  Partly Cloudy
1982  2018-01-01 11:47:41  5955379       47     7659  42461  Partly Cloudy
1983  2018-01-01 11:47:50  5955379       48      523  42470  Partly Cloudy
1984  2018-01-01 11:48:44  5955379       49      669  42524  Partly Cloudy
1985  2018-01-01 11:49:07  5955379       50      670  42547  Partly Cloudy
1986  2018-01-01 11:49:23  5955379       51      671  42563  Partly Cloudy
1987  2018-01-01 11:49:56  5955379       52      672  42596  Partly Cloudy
1988  2018-01-01 11:50:34  5955379       53     4382  42634  Partly Cloudy
1989  2018-01-01 11:52:25  5955379       54     1196  42745  Partly Cloudy
1990  2018-01-01 11:53:20  5955379       55     1197  42800  Partly Cloudy
1991  2018-01-01 11:54:19  5955379       56     1198  42859  Partly Cloudy
1992  2018-01-01 11:55:19  5955379       57     1199  42919  Partly Cloudy
1993  2018-01-01 11:55:40  5955379       58     1200  42940  Partly Cloudy
1994  2018-01-01 11:56:17  5955379       59     4385  42977  Partly Cloudy
1995  2018-01-01 11:57:41  5955379       60     1201  43061  Partly Cloudy
1996  2018-01-01 11:59:05  5955379       61     1202  43145  Partly Cloudy
1997  2018-01-01 12:00:08  5955379       62     1203  43208       Overcast
1998  2018-01-01 12:00:46  5955379       63     6115  43246       Overcast
1999  2018-01-01 12:02:17  5955379       64     4593  43337       Overcast

[2000 rows x 6 columns]

In [33]:
for index, row in DFRAME.iterrows():
    if DFRAME.iloc[index]['Prog_No'] == 1:
        time = DFRAME.iloc[index]['Time']
        DFRAME.set_value(index,"Time",(row["Time"] - time ))
    else:
        DFRAME.set_value(index,"Time",(row["Time"] - time ))
    time = row["Time"]

C:\Users\Corma\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.
C:\Users\Corma\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [34]:
ie_holidays = holidays.Ireland()
DFRAME["Holiday"] = 0
for index, row in DFRAME.iterrows():
    value = int(row["Date"] in ie_holidays)
    DFRAME.set_value(index,"Holiday",value)

C:\Users\Corma\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """

In [35]:
DFRAME["Prev_Stop"] = 0
prev_stop = DFRAME.iloc[0]['Stop_ID']
for index, row in DFRAME.iterrows():
    DFRAME.set_value(index,"Prev_Stop",int(prev_stop))
    prev_stop = DFRAME.iloc[index]['Stop_ID']

C:\Users\Corma\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.

In [39]:
DFRAME.head(100)

,Date,Trip_ID,Prog_No,Stop_ID,Time,Weather,Holiday,Prev_Stop
0,2018-01-01 08:20:29,5955277,1,7347,0,Overcast,1,7347
1,2018-01-01 08:22:08,5955277,2,3669,99,Overcast,1,7347
2,2018-01-01 08:23:02,5955277,3,7349,54,Overcast,1,3669
3,2018-01-01 08:24:15,5955277,4,1631,73,Overcast,1,7349
4,2018-01-01 08:24:21,5955277,5,1632,6,Overcast,1,1631
5,2018-01-01 08:24:34,5955277,6,5053,13,Overcast,1,1632
6,2018-01-01 08:24:47,5955277,7,1633,13,Overcast,1,5053
7,2018-01-01 08:25:25,5955277,8,1634,38,Overcast,1,1633
8,2018-01-01 08:25:32,5955277,9,1635,7,Overcast,1,1634
9,2018-01-01 08:26:55,5955277,10,1636,83,Overcast,1,1635
10,2018-01-01 08:27:37,5955277,11,1637,42,Overcast,1,1636
11,2018-01-01 08:28:14,5955277,12,1638,37,Overcast,1,1637
12,2018-01-01 08:29:03,5955277,13,1639,49,Overcast,1,1638
13,2018-01-01 08:29:49,5955277,14,1640,46,Overcast,1,1639
14,2018-01-01 08:30:15,5955277,15,231,26,Overcast,1,1640
15,2018-01-01 08:31:54,5955277,16,232,99,Overcast,1,231
16,2018-01-01 08:32:23,5955277,17,233,29,Overcast,1,232
17,2018-01-01 08:33:14,5955277,18,234,51,Overcast,1,233
18,2018-01-01 08:33:54,5955277,19,235,40,Overcast,1,234
19,2018-01-01 08:34:03,5955277,20,236,9,Overcast,1,235
20,2018-01-01 08:35:48,5955277,21,237,105,Overcast,1,236
21,2018-01-01 08:36:06,5955277,22,213,18,Overcast,1,237
22,2018-01-01 08:36:49,5955277,23,214,43,Overcast,1,213
23,2018-01-01 08:37:20,5955277,24,4432,31,Overcast,1,214
24,2018-01-01 08:38:04,5955277,25,119,44,Overcast,1,4432
25,2018-01-01 08:38:22,5955277,26,44,18,Overcast,1,119
26,2018-01-01 08:38:38,5955277,27,7603,16,Overcast,1,44
27,2018-01-01 08:39:12,5955277,28,45,34,Overcast,1,7603
28,2018-01-01 08:40:07,5955277,29,46,55,Overcast,1,45
29,2018-01-01 08:41:21,5955277,30,47,74,Overcast,1,46
...,...,...,...,...,...,...,...,...
70,2018-01-01 09:10:02,5955277,71,2969,14,Mostly Cloudy,1,2968
71,2018-01-01 09:10:16,5955277,72,2970,14,Mostly Cloudy,1,2969
72,2018-01-01 09:10:34,5955277,73,2971,18,Mostly Cloudy,1,2970
73,2018-01-01 09:11:48,5955277,74,5051,74,Mostly Cloudy,1,2971
74,2018-01-01 09:12:29,5955277,75,5052,41,Mostly Cloudy,1,5051
75,2018-01-01 09:13:04,5955277,76,2975,35,Mostly Cloudy,1,5052
76,2018-01-01 09:57:45,5955278,1,5171,0,Mostly Cloudy,1,2975
77,2018-01-01 10:00:26,5955278,4,2976,161,Overcast,1,5171
78,2018-01-01 10:00:53,5955278,5,2977,27,Overcast,1,2976
79,2018-01-01 10:02:41,5955278,6,2978,108,Overcast,1,2977
80,2018-01-01 10:02:58,5955278,7,2979,17,Overcast,1,2978
81,2018-01-01 10:03:23,5955278,8,2980,25,Overcast,1,2979
82,2018-01-01 10:03:46,5955278,9,2981,23,Overcast,1,2980
83,2018-01-01 10:04:30,5955278,10,2991,44,Overcast,1,2981
84,2018-01-01 10:04:58,5955278,11,2992,28,Overcast,1,2991
85,2018-01-01 10:05:19,5955278,12,1325,21,Overcast,1,2992
86,2018-01-01 10:05:57,5955278,13,1326,38,Overcast,1,1325
87,2018-01-01 10:06:36,5955278,14,1327,39,Overcast,1,1326
88,2018-01-01 10:06:51,5955278,15,1328,15,Overcast,1,1327
89,2018-01-01 10:07:45,5955278,16,1329,54,Overcast,1,1328
90,2018-01-01 10:08:27,5955278,17,1330,42,Overcast,1,1329
91,2018-01-01 10:09:19,5955278,18,1331,52,Overcast,1,1330
92,2018-01-01 10:10:01,5955278,19,1332,42,Overcast,1,1331
93,2018-01-01 10:10:57,5955278,20,1333,56,Overcast,1,1332
94,2018-01-01 10:11:26,5955278,21,1334,29,Overcast,1,1333
95,2018-01-01 10:11:51,5955278,22,7293,25,Overcast,1,1334
96,2018-01-01 10:12:03,5955278,23,1335,12,Overcast,1,7293
97,2018-01-01 10:12:21,5955278,24,1336,18,Overcast,1,1335
98,2018-01-01 10:13:37,5955278,25,1337,76,Overcast,1,1336
99,2018-01-01 10:14:25,5955278,26,1338,48,Overcast,1,1337